*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient( rgba(30, 19, 4, 0.7), rgba(4,9,30,0.7)),url(mind.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    padding: 0% 7%;
    justify-content: space-between;
    align-items: center;

}
nav img{
    width: 100px;

}
.nav-links{
    flex: 1;
    text-align: center;
    font-size: 28px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;

}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}
.link-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.link-button:hover{
    border: 1px solid #f44336;
    background: orangered;
    transition: 1s;

}

.bar-image img{
    display: none;
}
.nav-links img{
    display: none;
}
.nav-links img{
    display: none;
}
.bar-image img{
    display: none;
    
}





.about h1 {
    font-size: 48px;
}

.about p {
    font-size: 20px;
}

/* Section Styles */

section {
    padding: 2em;
}
section h2 {
    margin-top: 0;
}

/* Footer Styles */

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}
footer img{
    position: absolute;
    width: 40px;
    right: 10px;
    top: 1225px;
}

/* Responsive Design */
button {
    background-color: #333;
    color: #fff;
    border: 1 px solid #333;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}
nav{
    background-color: purple;
}
h4{
    color: rgb(12, 240, 12);
    background-color: blue;
    border-color: #f44336;
    border-radius: 20px;
    text-align: center;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #e71616;
    font-size: 48px;
    position: static;
}
.fa-square-instagram{
    color: #f44336;
}
.icon{
    gap: 5px;
    display: contents;
}



@media(max-width:700px){
    *{
        padding: 0;
    }
    nav img{
        padding: 0;
        width: 200px;
        margin-right: 20px;
        display: block;
    }
    .text-box h1{
        font-size: 32px;
    }
    .nav-links ul li{
        display: block;
    
    }
    .nav-links{
        position: absolute;
        background-color: #f44336;
        height: 114vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul{
        padding: 30px;
    }

    nav img{
        margin-right: 200px;
    }
    .nav-links img{
        display: block;
        color: #fff;
        margin: 10px;
       width: 25px;
        cursor: pointer;
        border: 1px solid #f44336;
        border-radius: 5px;
    }
    .bar-image img{
        display: block;
        color: #fff;
        margin-bottom: 150px;
        margin-left: 60px;
        width: 25px;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 5px;
    }
    .bar-image img:hover{
        width: 26px;
    }

}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}
h2{
    color: #f44336;
    font-size: 32px;
    background-color: rgb(56, 56, 194);
    border-radius: 50%;
}
span{
    color: rgb(144, 221, 67);
    font-size: 48px;
    background-color: rgb(156, 156, 204);
    background-color: rgb(56, 56, 194);
    border-radius: 100px;
}
.pill{
    text-decoration: none;
    display: flex;
}
.img{
    display: flex;
    align-content: center;
    margin-left: 100p;
    gap: 5px;
}
.sec{
    margin-left: 60px;
}


@media (max-width: 480px) {
    .about {
        height: 50vh;
    }

    .about h1 {
        font-size: 36px;
    }

    .about p {
        font-size: 14px;
    }
}
footer img{
    position: absolute;
    top: 1130px;
}
.term{
    text-align: center;
    margin-bottom: 30px;
  }
  .fa-square-whatsapp{
    color: green;
    font-size: 40px;
  }
  .fa-square-x-twitter{
    color: skyblue;
    font-size: 40px;
  }
  .fa-facebook{
    color: blue;
    font-size: 40px;
  }
  .fa-square-instagram{
    color: #ff7200;
    font-size: 40px;
  }